<h1>Password Reset</h1>
<img src="unique@datacom.logo">

<h1>Hello {{ name }}</h1>

<h2>Your current email address is: {{ email }}</h2>
<P>To set a new password, please click here. <a href="http://localhost:9000/#!/password-reset/{{email}}">Reset</a></P>


