
$accent: rgb(224, 108, 0);
$base-text-color: #fff;
$base-bg: #363640;
$base-border-color: #515159;
$base-accent: rgb(199, 49, 3);
$base-border-radius: 4px;
$base-header-color: rgba(41, 80, 83, 0.3);
$base-font-size: 1.15em;
$success-button: rgb(3, 129, 70);
$danger-button: rgb(251, 38, 0);
$warning-button: rgb(243, 207, 1);
$datcom-button: rgb(21, 129, 161);
$pos-button: rgb(3, 92, 128);
$datcom-gradient: linear-gradient(90deg, #013136, #014F56);
$icon-base-color: rgb(4, 77, 87);
$content-vh: calc(100vh - 155px);